# dependencies
/node_modules
# testing
.env

# Build artifacts
build/
dist/
package-lock.json
# Sentry Config File
.sentryclirc

# WindSurfRules
.windsurfrules

# CursorRules
.cursorrules
.cursor/

# Performance Audit
performance-audit.md
